**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
def arraysize(name):
    counter=0;
    for i in name:
        counter+=1
    return counter

In [1]:
if __name__ == '__main__':
    array1=[1,2,3,4]
    x=len(array1)
    print(x)

4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [12]:
list="w3resource"
size=len(list)
if size<2:
    newlist="Empty String"
else:
    newlist=list[0]+list[1]+list[size-2]+list[size-1]


print(newlist)

Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [24]:
list="ab"
length=len(list)
if length>=3:
    substring=list[length-3:length]
    if substring=="ing":
        list=list[0:length-3]
        list=list+"ly"
    else:
        list=list+"ing"
print(list)

ab

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [38]:
list=[]
n=int(input("enter number of elements: "))
for i in range(0,n):
    x=int(input())
    list.append(x)
list.sort()
x=len(list)
number=list[x-1]
strg=str(number)
length=len(strg)
print("length={} and the number is {}".format(length,number))

enter number of elements: 2
111
98123
length=5 and the number is 98123

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [32]:
name="abca"
print("e"+name[1:-1]+"e")

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [40]:
string=input("enter string:")
final="";
for i in range (0,len(string),2):
    final=final+string[i]
print(final)

enter string:abc
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [40]:
string2="amr and ahmed are frindes but amr is the tallest Expected Result"
x=string2.split()
y = set(x)
print(y)
for i in y :
    print(i,x.count(i))

{'amr', 'ahmed', 'frindes', 'is', 'the', 'but', 'Result', 'and', 'are', 'Expected', 'tallest'}
amr 2
ahmed 1
frindes 1
is 1
the 1
but 1
Result 1
and 1
are 1
Expected 1
tallest 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [41]:
x=input()
print(x.upper())
print(x.lower())

abc
ABC
abc

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
var=input()
if len(var)>4:
    print(var[::-1])
else:
    print(var)

mahda

**10- Write a Python program to remove a newline in Python

In [9]:
x="adham\n"
print(x.strip())

adham

**11-Write a Python program to check whether a string starts with specified characters

In [11]:
character=input("please enter specific character you are searching for")
inn=input("enter the word")
temp=inn[0:1]
if character[0]==temp:
    print("true")

true

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

In [14]:
x=2.99203
print("%.2f"%x)

2.99

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [35]:
x=-2.99203
print("{:+.2f}".format(x))

-2.99

**15-Write a Python program to display a number with a comma separator

In [38]:
x=3000000
print("{:,}".format(x))

3,000,000

**16-Write a Python program to reverse a string using 2 ways

In [44]:
x="adham"
print(x[::-1])
print("".join(reversed(x)))

mahda
mahda

-Write a Python program to count repeated characters in a string (hint:use dictionary) **17

In [129]:
string = "-Write a Python program to count  ";
temp
for s in range(0, len(string)): 
   count = 1; 
   for t in range(s+1, len(string)):
    
      if(string[s] == string[t] and string[s] != ' '): 
         count = count + 1; 

   if(count > 1 and string[s] != '0'): 
      print(string[s]," - ",count);

r  -  3
t  -  4
a  -  2
t  -  3
o  -  4
n  -  2
r  -  2
o  -  3
t  -  2
o  -  2

**18-Write a Python program to find the first non-repeating character in a given string

In [60]:
str="aaaaaaabcdd"
leading=str[0:1]
i=1
while i<len(str):
    if(str[i]==leading):
       i=i+1
    else:
        print(str[i])
        break
else:   
    print("string has no non matching chars")

b

**19-Write a Python program to remove spaces from a given string

In [51]:
x="19-Write a Python program to remove spaces from a given string"
y=x.replace(" ","")
print(y)

19-WriteaPythonprogramtoremovespacesfromagivenstring

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [64]:
x=["a","b","c"]
last=x[len(x)-1]
x[len(x)-1]=x[0]
x[0]=last
print(x)

['c', 'b', 'a']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [69]:
list=[23,65,19,90]
pos1=int(input())-1
pos2=int(input())-1
temp=list[pos1]
list[pos1]=list[pos2]
list[pos2]=temp
print(list)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
#using len()
#by applying a for loop until reaching a null
#by using slicing each loop decrement size of string by 1 and increase counter

In [4]:
#**24-write a Python code to find the Maximum number of list of numbers.

l=[1,2,5,6,12,0,9,-2]
print(max(l))

12

In [5]:
#25-write a Python code to find the Minimum number of list of numbers.
l=[1,2,5,6,12,0,9,-2]
print(min(l))

-2

**26-search for if an elem is existing in list

In [8]:
list=[1,2,3,4,5]
x=5
if x in list:
    print("Found")
else:
    print("missing")

Found

**27- clear python list using different ways

In [33]:
list=[1,2,3,4]
list.clear()

[]

**28-remove duplicated elements from a list

In [1]:

my_list = [1, 2, 3, 4, 4, 5, 5, 6]
new_list = list(set(my_list))

print(new_list)

[1, 2, 3, 4, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [2]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = []
for i in range(0, len(test_list), len(key_list)):
    dict_item = {}
    for j in range(len(key_list)):
        dict_item[key_list[j]] = test_list[i+j]
    result.append(dict_item)

print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [6]:
my_list = [1, 2, 2, 3, 4, 4, 4,5,3,5,6,6,5]
unique_values = set(my_list)
count = len(unique_values)
print("Number of unique values:", count)

Number of unique values: 6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

[]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [23]:
from itertools import permutations

comb = permutations([1, 2, 3], 3)

for i in comb:
	print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [33]:




list_1 = ["a", "b"]
list_2 = [1,2]
res=[]
for i in list_1:
    for j in list_2:
        res.append((i,j))
print(res)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [29]:
list=[1,1,2,3,4,5,1,2,1,2]
el=1
l2=[]
for i in range(len(list)):
    if list[i]!=el:
        l2.append(list[i])
        
print(l2)

[2, 3, 4, 5, 2, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [42]:
l1=['Gfg', 'is', 'best' ]
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
l3=[]
for i in range (len(l2)):
   l3.append(l1[l2[i]])
    
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [5]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
c=int(input("enter specific coloumn to be sorted by"))
# Sort by column 0
sorted_array = sorted(array, key=lambda x: x[c])
print("Sorted array specific to column {}, ".format(c), sorted_array)

Sorted array specific to column 1,  [[2, 1, 2], [3, 2, 1], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [16]:
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sor=sorted(d.items(),key= lambda x:x[1])
print(dict(sor))

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [71]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [82]:
dt = {'name': 'adham', 'id': '1233', 'phone': '010101010'}
for key, value in dt.items():
    print(key, value)

name adham
id 1233
phone 010101010

**44- Write a Python script to merge two Python dictionaries

In [89]:
def merge(dic1,dic2):
    return (dic2.update(dic1))

dic1={1:10, 2:20}
dic2={3:30, 4:40}
merge(dic1,dic2)
print(dic2)

{3: 30, 4: 40, 1: 10, 2: 20}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [99]:
def merge(dic1,dic2):
    return (dic2.update(dic1))

dic1={1:10, 2:20}
dic2={3:30, 4:40}
merge(dic1,dic2)
print(max(dic2.values()))
print(min(dic2.values()))

40
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [103]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("New Dictionary :")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

New Dictionary :
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [108]:
tup=(1,2,3)
x,y,z=tup
print(x)

1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tup=(1,2,3)
x,y,z=tup
print(x)
print(y)
print(z)

**49-Write a Python program to add an item to a tuple

In [116]:
tup=(2,3,4,5)
l=list(tup)
l.append(0)
tup=tuple(l)
print(tup)

(2, 3, 4, 5, 0)

**50-Write a Python program to convert a tuple to a string

In [94]:
tup = ('a','d','h','a','m','a','m','r')
str=''.join(tup)
print(str)

adhamamr

**51-Write a Python program to convert a list to a tuple

In [91]:
l=[1,2,3,4,5,6]
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 6)

**52-Write a Python program to reverse a tuple

In [95]:

	
tup = ('a','d','h','a','m','a','m','r')
new = tup[::-1]
print(new)

('r', 'm', 'a', 'm', 'a', 'h', 'd', 'a')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [121]:
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
temp=l[-1]
l2=list(temp)
l2[-1]=100
l[-1]=l2
print(l)

[(10, 20, 40), (40, 50, 60), [70, 80, 100]]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [133]:
tup=(1,2,3,4,5,6,7,8,9,10)
sum=0
for i in tup:
    sum=sum+i
avg=sum/len(tup)
print(avg)

5.5

**56-Write a Python program to add member(s) to a set.

In [65]:
x={'a','b'}
x.add(1)
print(x)

{'b', 'a', 1}

**57-Write a Python program to remove an item from a set if it is present in the set.

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [60]:
l1 = {0, 1,2,3};
l2= {1, 2, 3, 9};  
print("Union :", l1 |l2 )
  

print("Intersection :", l1 & l2)
  

print("Difference A-B :", l1 - l2)

print("Difference B-A :", l2-l1)
print("Symmetric difference :", l1^ l2)

Union : {0, 1, 2, 3, 9}
Intersection : {1, 2, 3}
Difference A-B : {0}
Difference B-A : {9}
Symmetric difference : {0, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [56]:
lst=[1,2,2,2,3,4,5,5,6,4,3,9]
x=set(lst)
temp=list(x)
print("min value is :",temp[0])
print("max value is :",temp[-1])

min value is : 1
max value is : 9

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [48]:
def find_pairs(lst, target):
    pairs = []
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i] + lst[j] == target:
                pairs.append((lst[i], lst[j]))
    return pairs

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = int(input())
result = find_pairs(lst, target)
print("All pairs of elements in the list {lst} whose sum is equal to {target} are:")
print(result)

All pairs of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9] whose sum is equal to 10 are:
[(1, 9), (2, 8), (3, 7), (4, 6)]