In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore", category=UserWarning)

In [2]:
titanic=pd.read_csv('titanic.csv')

In [3]:
#data cleaning
titanic.dropna(inplace=True )

In [4]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [5]:
inputs = titanic.drop('Survived',axis='columns')
inputs

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [6]:
len(titanic["Survived"][titanic["Survived"] == 1])

123

In [7]:
titanic.Sex.value_counts()

male      95
female    88
Name: Sex, dtype: int64

In [8]:
medfare=titanic.Fare.median()
survived_with_higher_fare = titanic[(titanic['Survived'] == 1) & (titanic['Fare'] > medfare)]
len(survived_with_higher_fare)

67

In [9]:
len(titanic.Sex [(titanic.Survived == 1) & (titanic.Sex == "female")])

82

In [10]:
from sklearn.preprocessing import LabelEncoder
data = titanic.copy()
data=titanic[['Pclass','Sex','Age','Fare']]
data

     Pclass     Sex   Age     Fare
1         1  female  38.0  71.2833
3         1  female  35.0  53.1000
6         1    male  54.0  51.8625
10        3  female   4.0  16.7000
11        1  female  58.0  26.5500
..      ...     ...   ...      ...
871       1  female  47.0  52.5542
872       1    male  33.0   5.0000
879       1  female  56.0  83.1583
887       1  female  19.0  30.0000
889       1    male  26.0  30.0000

[183 rows x 4 columns]

In [11]:
target=titanic[['Survived']]
sex=LabelEncoder()
data['sex_n'] = sex.fit_transform(data['Sex'])
data

C:\Users\adham\AppData\Local\Temp\ipykernel_2248\2741249660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex_n'] = sex.fit_transform(data['Sex'])

     Pclass     Sex   Age     Fare  sex_n
1         1  female  38.0  71.2833      0
3         1  female  35.0  53.1000      0
6         1    male  54.0  51.8625      1
10        3  female   4.0  16.7000      0
11        1  female  58.0  26.5500      0
..      ...     ...   ...      ...    ...
871       1  female  47.0  52.5542      0
872       1    male  33.0   5.0000      1
879       1  female  56.0  83.1583      0
887       1  female  19.0  30.0000      0
889       1    male  26.0  30.0000      1

[183 rows x 5 columns]

In [12]:
data=data.drop('Sex',axis=1)

In [13]:
has_missing_age = data['Age'].isna().any()

if has_missing_age:
    print("The 'Age' column has missing values.")
else:
    print("The 'Age' column has no missing values. ")

The 'Age' column has no missing values.

In [14]:
import  sklearn
from sklearn import tree

In [15]:

xtrain,xtest,ytrain,ytest=sklearn.model_selection.train_test_split(data,target,train_size=0.7)

In [30]:
model=tree.DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [31]:
model.score(data,target)

0.8961748633879781

In [32]:
model.feature_importances_

array([0.        , 0.43347745, 0.34656499, 0.21995756])

In [33]:
model.score(xtest , ytest)

data

     Pclass   Age     Fare  sex_n
1         1  38.0  71.2833      0
3         1  35.0  53.1000      0
6         1  54.0  51.8625      1
10        3   4.0  16.7000      0
11        1  58.0  26.5500      0
..      ...   ...      ...    ...
871       1  47.0  52.5542      0
872       1  33.0   5.0000      1
879       1  56.0  83.1583      0
887       1  19.0  30.0000      0
889       1  26.0  30.0000      1

[183 rows x 4 columns]

In [20]:
Pclass = {"A_class": 1, "B_class" : 2, "C_class": 3}

sex_n={"female":0,"male":1}

In [21]:
def predicter(pclass,age,fare,sex):
    x=model.predict([[Pclass[pclass],age,fare,sex_n[sex]]])
    if x==1:
        print('survived')
    else:
        print('died')

In [22]:
predicter("A_class",25,70,"female")

survived

In [25]:
predicter("B_class",25,10,"female")

died

In [34]:
predicter("B_class",12,50,"female")

survived

In [40]:
predicter("C_class",60,20,"male")

died

In [41]:
predicter("C_class",60,20,"female")

survived